{% extends 'main.html' %}
{% block MGA %}
<h3>Please add the director that you want to attach to this movie:</h3>
<div class='form'>
    <form method='POST' action=''>
        <fieldset class="form-field">
        {{ form.hidden_tag() }}
        {{ form.first_name.label }}
        {{ form.first_name }}
        {% if form.first_name.errors %}
        <div class='error'>
            {% for error in form.first_name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {{ form.last_name.label }}
        {{ form.last_name }}
        {% if form.last_name.errors %}
        <div class='error'>
            {% for error in form.last_name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        </fieldset>
        <h3>Now it is time to get creative and start making your movie!</h3>
        <fieldset class="form-field">
        {{ form.title.label }}
        {{ form.title}}
        {% if form.title.errors %}
        <div class='error'>
            {% for error in form.title.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {{ form.genre.label }}
        {{ form.genre }}
        {% if form.genre.errors %}
        <div class='error'>
            {% for error in form.genre.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {{ form.age_rating.label }}
        {{ form.age_rating }}
        {% if form.age_rating.errors %}
        <div class='error'>
            {% for error in form.age_rating.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {{ form.budget_in_millions.label }}
        {{ form.budget_in_millions }}
        {% if form.budget_in_millions.errors %}
        <div class='error'>
            {% for error in form.budget_in_millions.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        </fieldset>
        <br>
        {{ form.plot_summary.label }}
        {{ form.plot_summary }}
        {% if form.plot_summary.errors %}
        <div class='error'>
            {% for error in form.plot_summary.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock MGA %}

