{% extends 'main.html' %}
{% block MGA %}
<h2>Please add the director that you want to attach to this movie:</h2>
<div class='form'>
    <form method='POST' action=''>
        <fieldset class="form-field">
        {{ form.hidden_tag() }}
        {{ form.director_name.label }}
        {{ form.director_name }}
        {% if form.director_name.errors %}
        <div class='error'>
            {% for error in form.director_name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        </fieldset>
        <br>
        <h2>Now it is time to get creative and start making your movie!</h2>
        <fieldset class="form-field">
        {{ form.title.label }}
        {{ form.title}}
        {% if form.title.errors %}
        <div class='error'>
            {% for error in form.title.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.genre.label }}
        {{ form.genre }}
        {% if form.genre.errors %}
        <div class='error'>
            {% for error in form.genre.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        </fieldset>
        <br>
        {{ form.plot_summary.label }}
        {{ form.plot_summary }}
        {% if form.plot_summary.errors %}
        <div class='error'>
            {% for error in form.plot_summary.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock MGA %}

