{% extends 'main.html' %}
{% block MGA %}
    <h3>All Tasks:</h3>
    <p>
    {% for read in reads %}
        <fieldset class="form-field">
        Director Name: {{ read.director_name }} <br>
        Title: {{ read.title }} <br>
        Genre: {{ read.genre}} <br>
        Plot Summary: {{ read.plot_summary}} <br>
        <span><a href="{{ url_for('update', director_name=read.director_name) }}">Update</a></span> 
        <span><a href="{{ url_for('delete', director_name=read.director_name) }}">Delete</a></span>
        </fieldset>
        <br>
           
    {% endfor %}
    </p>
{% endblock MGA %}